# Sample Functions

In [16]:
import numpy as np
import pandas as pd

Function: Using initials instead of full name

In [101]:
name = "Stuart Brannan"
def search_initials(name):
    sep_name = name.split(" ")
    first_name = sep_name[0]
    last_name = sep_name[-1]
    first_initial = first_name[0]
    second_initial = last_name[0]
    return (first_initial, second_initial)

search_initials(name)

('S', 'B')

Function: Replacing Similar Characters

In [103]:
name = "Iance armstrong"
def replace_simchars(name):
    new_name = name.replace("I","l")
    return new_name

replace_simchars(name)

'lance lrmstrong'

In [222]:
def replace_only(name,orig_char,new_char):

    # Find the original characters
    index_orig_char = [i for i,x in enumerate(name) if x == orig_char]
    if index_orig_char:
        index_to_change = np.random.choice(index_orig_char)
        # Replace one character and join back
        new_name = name[:index_to_change] + new_char + name[1+index_to_change:] 
        return new_name
    else:
        return name

In [223]:
replace_only("Perre","rr","r")

'Perre'

In [218]:
functions_list = pd.read_csv("functions_list.txt",engine="python",header=None).iloc[:,0].values

In [219]:
character_replacement_func_list = [x for x in functions_list if "replace_" in x]

In [220]:
for func in character_replacement_func_list:
    orig_char, new_char = func.split("_")[1],func.split("_")[2]
    print("original char:",orig_char,
          "new char:",new_char,
          "new name:",
          replace_only(name,orig_char, new_char))

original char: s new char: z new name: Juan Perez
original char: z new char: s new name: Juan Peres
original char: s new char: c new name: Juan Perez
original char: c new char: s new name: Juan Perez
original char: c new char: z new name: Juan Perez
original char: z new char: c new name: Juan Perec
original char: u new char: o new name: Joan Perez
original char: o new char: u new name: Juan Perez
original char: ua new char: o new name: Juan Perez
original char: o new char: ua new name: Juan Perez
original char: ph new char: f new name: Juan Perez
original char: f new char: ph new name: Juan Perez
original char: y new char: i new name: Juan Perez
original char: i new char: y new name: Juan Perez
original char: d new char: th new name: Juan Perez
original char: th new char: d new name: Juan Perez
original char: v new char: w new name: Juan Perez
original char: w new char: v new name: Juan Perez
original char: k new char: q new name: Juan Perez
original char: q new char: k new name: Juan Perez
original char: v new char: b new name: Juan Perez
original char: b new char: v new name: Juan Perez
original char: a new char: e new name: Juen Perez
original char: e new char: a new name: Juan Peraz
original char: x new char: j new name: Juan Perez
original char: j new char: x new name: Juan Perez
original char: v new char: f new name: Juan Perez
original char: f new char: v new name: Juan Perez
original char: c new char: k new name: Juan Perez
original char: k new char: c new name: Juan Perez
original char: t new char: y new name: Juan Perez
original char: y new char: t new name: Juan Perez
original char: o new char: p new name: Juan Perez
original char: p new char: o new name: Juan Perez
original char: d new char: e new name: Juan Perez
original char: e new char: d new name: Juan Perdz
original char: f new char: d new name: Juan Perez
original char: d new char: f new name: Juan Perez
original char: r new char: f new name: Juan Pefez
original char: f new char: r new name: Juan Perez
original char: e new char: r new name: Juan Prrez
original char: r new char: e new name: Juan Peeez
original char: n new char: ñ new name: Juañ Perez
original char: ñ new char: n new name: Juan Perez

In [145]:
name = "Juan Perez"
orig_char = "e"
new_char  = "i"

replace_only(name,orig_char,new_char)

'Juan Pierez'

'Juan Pierez'

In [106]:
index_orig_char

[6, 8]

Function: Phonetic Replacement

In [31]:
#note: going to have to control for errors that occur when for example a letter you want to replace comes up twice or something.
#Other possible errors: Do you want to replace letters at the end of the first name, last name, or both? Which name does the 
#person actuallly use for their last name? etc. Maybe incorporate elements from the function he created. 

name = "Katie Perry"

def phonetic_repl(name):
    sep_name = name.split(" ")
    first_name = sep_name[0]
    if first_name[-2:] == "ie":                     #Ex: Katie Perry 
        new_name = name.replace("ie","y")
        return new_name
    if "ew" in first_name:                          #Ex: Stewart Brannan
        new_name = name.replace("ew","u")
        return new_name
    if name[-2:] == "ph":                             
        new_name = name.replace("ph","f")           
        return new_name
    else:
        return name 

phonetic_repl(name)

'Katy Perry'

Function: Character Extension

In [29]:
name = "John Bell"
def char_exten(name): 
    if name[-1] == "r":                           #use example of Moor 
        name_ext = name + "e"
        return name_ext
    if (name[-1] == "l" and name[-2] != "l"):     #use example of Mithcel 
        name_ext = name + "l"
        return name_ext
    if name[-2:] == "ll":                          #use example of Bell
        name_ext = name + "e"                     
        return name_ext
    else:
        return name 

char_exten(name)

'John Belle'

Function: Character Replacement

In [ ]:
#See sanctions screening tool file

Function: Character Reduction

In [47]:
name = "Patterson"
def char_reduct(name):
    if (name[-1] == "s" or "e" or "t"):               #Ex: Edwards, Greene, Elliott
        new_name = name[:-1]
        return(new_name)
    if "tt" in name:       #<-- fix this. why is the first thing being applied?             #Ex: Patterson 
        new_name = name.replace("tt","t")
        return(new_name) 
    else:
        return name 
    
char_reduct(name)

'Patterso'

Function: Transposition

In [54]:
name = "Chris Johnsno"
def spell_correct(name):
    if name[-2:]=="ei":                        #Barrei --> Barrie  
        new_name = name[:-2] + "ie"
        return new_name 
    if name[-2:] == "ht":                      #Smiht --> Smith 
        new_name = name[:-2] + "th"
        return new_name
    if name[-3:] == "sno":                    #Johnsno --> Johnson 
        new_name = name[:-3] + "son"
        return new_name
    else:
        return name 

spell_correct(name)

'Chris Johnson'

In [ ]:
Function: Use of Double Characters

In [78]:
name = "Stuuart Brannan"
def fix_double(name):
    lst = ["aa","bb","cc","dd","ee","ff","gg","hh","ii","jj","kk","ll","mm","nn","oo","pp","qq","rr","ss","tt","uu","vv","ww","xx","yy","zz"]
    new_name = name
    for i in lst:
        if i in name:
            new_name = new_name[:(new_name.index(i))] + new_name[((new_name.index(i))+1):]
    return new_name

fix_double(name)

'Stuart Branan'

In [68]:
#Alternative double letter fixer function

import string
double_letter_list = [x+x for x in string.ascii_lowercase]
list_to_replace = [x for x in double_letter_list if x in name]
new_name = name
for dl in list_to_replace:
    new_name = new_name.replace(dl,dl[0])

Additional Spaces Function

In [95]:
name = "Stuart  Brannan" 
def del_spaces(name):
    double_space = "  "
    new_name = name
    for ds in name: 
        new_name = new_name.replace("  "," ")
    return new_name

del_spaces(name)    #fix error when there are two doubles spaces it only fixes one.

'Stuart Brannan'

Name Order

In [97]:
name = "Brannan Stuart"
sep_name = name.split(" ")  
index_lst = lst(range(0,(len(sep_name) - 1)))
while len(index_lst) > 0:
    index_1 = np.randomchoice(index_lst) 
    first_name = sep_name[index_1]  
    index_lst.remove(index_1)
last_name = sep_name[]   
name_reordered = first_name + " " + last_name
print(name_reordered)

Stuart Brannan

In [98]:
range(5)

range(0, 5)

In [100]:
lst = range(5)
print(lst)

range(0, 5)