In [102]:
import numpy as np
import pandas as pd

# Test Case Generator

<font color="red"><b>TODOs:
  * File Scope
  * Finde Name Derivations

## Import Name File

In [123]:
path_data ="C:/Users/jose.ignacio.herrer1/Desktop/AML/AML Testing Tool/Sanction Screening/Lists/"
dt = pd.read_csv(path_data + "sdn.txt")

In [ ]:
def read_names_file():

In [126]:
dt.iloc[:,1].apply(character_substitution_e_i)

ValueError: a must be non-empty

## Name Variation Functions

In [127]:
name_var_categ = {"CharacterReplacement":{"VowelReplacement": character_substitution_e_i}}

In [129]:
name_var_categ["CharacterReplacement"]["VowelReplacement"](s)

'Osime Bin Laden'

In [103]:
s = "Oseme Bin Laden"
def findOccurrences(s, ch):
    return [i for i, letter in enumerate(s) if letter == ch]

def character_substitution(s,_in="e",_out="i"):
    es_index = findOccurrences(s,_in)
    selected_index = np.random.choice(es_index)
    s = s[:selected_index] + out + s[selected_index + 1:]
    return s

In [109]:
name_list = ["Elena Sanchez", "Felipe Smith","Arthur Johansen"]
name_df   = pd.DataFrame(name_list,columns=["a"])

In [110]:
print("original:",s)
print("modified:",character_substitution_e_i(s))

original: Oseme Bin Laden
modified: Osemi Bin Laden

In [117]:
[character_substitution_e_i(x) for x in name_list]

['Elena Sanchiz', 'Filipe Smith', 'Arthur Johansin']

In [122]:
name_df

                 a
0    Elena Sanchez
1     Felipe Smith
2  Arthur Johansen

In [121]:
name_df.a.apply(character_substitution_e_i)

0      Elena Sanchiz
1       Filipe Smith
2    Arthur Johansin
Name: a, dtype: object